<script src="/socket.io/socket.io.js"></script>

<h1>Index</h1>
<p>IS socket connected? :: <span id="issocketconnected">No</span></p>

<video id="localVideo" autoplay playsinline style="height: 30vh"></video>

<video id="remoteVideo" autoplay playsinline style="height: 60vh"></video>

<h1>Console:</h1>
<p
  id="bConsole"
  style="
    background-color: black;
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
  "
></p>
<br />
<input
  id="txt"
  style="
    border: 4px solid gray;
    width: 80%;
    height: 30px;
    border-radius: 12px;
    margin: 4px;
    padding: 2px;
  "
/>
<br />
<button
  style="width: 90px; height: 20px; border-radius: 5px; font-size: 12px"
  id="sendBtn"
>
  send
</button>
<script>
  const socket = {}; ///io();
  let isInitiator = false;
  let PC;
  const localVideo = document.getElementById("localVideo");
  const remoteVideo = document.getElementById("remoteVideo");

  let localStream = null;

  let socketConnectionText = document.querySelector("#issocketconnected");
  let bConsole = document.querySelector("#bConsole");

  let partner = null;

  let inp = document.querySelector("#txt");
  let sendBtn = document.querySelector("#sendBtn");

  async function initMedia() {
    try {
      localStream = await navigator.mediaDevices.getUserMedia({
        video: true,
        audio: true,
      });
      localVideo.style.transform = "scaleX(-1)";
      // localVideo.srcObject = localStream;
    } catch (err) {
      socket.disconnect();
      alert("Camera and microphone permission required.");
      console.error(err);
    }
  }
  initMedia();

  /*
function createPeer() {
  if (PC) return; // prevent duplicate
 logger.log("creating new peer")
  PC = new RTCPeerConnection({
    iceServers: [
      { urls: "stun:stun.l.google.com:19302" },
      { urls: "stun:stun1.l.google.com:19302" },
      { urls: "stun:stun2.l.google.com:19302" },
      { urls: "stun:stun3.l.google.com:19302" },
      { urls: "stun:stun4.l.google.com:19302" }
    ]
  });

  // on remote video stream receive
  PC.ontrack = (event) => {
    console.log(event.streams[0])
    remoteVideo.srcObject = event.streams[0];
  };


  // Add local tracks
  if (!localStream) {
  logger.error("Local media not ready yet");
  return;
}
  localStream.getTracks().forEach(track => {
    PC.addTrack(track, localStream);
  });


   // ICE candidates
   PC.onicecandidate = (event) => {
    if (event.candidate) {
      socket.emit("signal", {
        data: { candidate: event.candidate }
      });
    }
  };


   // Connection state monitoring
   PC.onconnectionstatechange = () => {
    if (
      PC.connectionState === "disconnected" ||
      PC.connectionState === "failed" ||
      PC.connectionState === "closed"
    ) {
      cleanupPeer();
    }
  };

  //.
  if (isInitiator) {
    PC.createOffer()
      .then(offer => PC.setLocalDescription(offer))
      .then(() => {
        socket.emit("signal", {
          data: { sdp: PC.localDescription }
        });
      })
      .catch(console.error);
  }

  
}
*/
  function createPeer() {
    if (PC) return;

    if (!localStream) {
      logger.error("Local media not ready");
      return;
    }

    logger.log("Creating new peer");

    PC = new RTCPeerConnection({
      iceServers: [
        { urls: "stun:stun.l.google.com:19302" },
        { urls: "stun:stun1.l.google.com:19302" },
        { urls: "stun:stun2.l.google.com:19302" },
        { urls: "stun:stun3.l.google.com:19302" },
        { urls: "stun:stun4.l.google.com:19302" },
      ],
    });

    PC.ontrack = (event) => {
      logger.log("track received from partner");
      localVideo.srcObject = event.streams[0];
    };

    localStream.getTracks().forEach((track) => {
      PC.addTrack(track, localStream);
    });

    PC.onicecandidate = (event) => {
      if (event.candidate) {
        socket.emit("signal", {
          data: { candidate: event.candidate },
        });
      }
    };

    PC.onconnectionstatechange = () => {
      if (
        PC.connectionState === "disconnected" ||
        PC.connectionState === "failed" ||
        PC.connectionState === "closed"
      ) {
        cleanupPeer();
      }
    };

    if (isInitiator) {
      PC.createOffer()
        .then((offer) => PC.setLocalDescription(offer))
        .then(() => {
          socket.emit("signal", {
            data: { sdp: PC.localDescription },
          });
        })
        .catch(console.error);
    }
  }

  //..
  function cleanupPeer() {
    if (PC) {
      PC.close();
      PC = null;
    }

    remoteVideo.srcObject = null;
    logger.debug("vid src cleared");
    isInitiator = false;
  }

  sendBtn.addEventListener("click", () => {
    let txtinp = inp.value.trim();
    if (!txtinp) {
      return logger.error("Please enter a valid message!");
    }

    if (!partner) {
      logger.warn("you dont have partner to sendf");
      inp.value = "";
      return;
    }

    socket.emit("message", txtinp, (feedback) => {
      if (feedback === true) {
        logger.success(`you sent: ${txtinp}`);
      } else {
        return logger.error(feedback);
      }
    });
    inp.value = "";
  });

  socket.on("message", (msg) => {
    logger.success(`Stranger: ${msg}`);
  });

  let logger = {
    log(message) {
      bConsole.innerHTML +=
        "<span style='color: gray; font-size: 8px;'>" +
        new Date().toLocaleTimeString() +
        "|  </span>  " +
        "<span style='color: gray;'>" +
        message +
        "</span> <br> <br>";
    },
    error(message) {
      bConsole.innerHTML +=
        "<span style='color: gray; font-size: 8px;'>" +
        new Date().toLocaleTimeString() +
        "|  </span>  " +
        "<span style='color: red;'>" +
        message +
        "</span> <br> <br>";
    },
    warn(message) {
      bConsole.innerHTML +=
        "<span style='color: gray; font-size: 8px;'>" +
        new Date().toLocaleTimeString() +
        "|  </span>  " +
        "<span style='color: orange;'>" +
        message +
        "</span> <br> <br>";
    },
    success(message) {
      bConsole.innerHTML +=
        "<span style='color: gray; font-size: 8px;'>" +
        new Date().toLocaleTimeString() +
        "|  </span>  " +
        "<span style='color: lime;'>" +
        message +
        "</span> <br> <br>";
    },
    info(message) {
      bConsole.innerHTML +=
        "<span style='color: gray; font-size: 8px;'>" +
        new Date().toLocaleTimeString() +
        "|  </span>  " +
        "<span style='color: cyan;'>" +
        message +
        "</span> <br> <br>";
    },
    debug(message) {
      bConsole.innerHTML +=
        "<span style='color: gray; font-size: 8px;'>" +
        new Date().toLocaleTimeString() +
        "|  </span>  " +
        "<span style='color: yellow;'>" +
        message +
        "</span> <br> <br>";
    },
  };

  socket.on("connect", () => {
    console.log("Successfully connected to the server with ID:", socket.id);
    socketConnectionText.innerHTML = "Yes";
    logger.success(
      "Successfully connected to the server with ID: " + socket.id
    );
  });

  socket.on("disconnect", () => {
    partner = null;
    cleanupPeer();
    console.log("Disconnected from the server");
    socketConnectionText.innerHTML = "No";
    logger.error("Disconnected from the server");
  });

  socket.on("waiting", () => {
    partner = null;
    logger.info("Waiting for a partner...");
  });

  socket.on("partner-disconnected", () => {
    partner = null;
    cleanupPeer();
    logger.warn("your Partner disconnected");
  });

  /*socket.on("matched", (partnerId) => {
  partner = partnerId;
  // simple rule: lower socket id becomes initiator
  isInitiator = socket.id < partnerId;
  logger.log(`Is ini: ${isInitiator}`);

  logger.success("Matched with partner with ID: " + partnerId);

  logger.debug(`${socket.id} (you) 🤝 ${partnerId} (stranger)`);

  createPeer();
});*/

  socket.on("matched", async (partnerId) => {
    partner = partnerId;
    logger.success("Matched with partner with ID: " + partnerId);

    isInitiator = socket.id < partnerId;

    if (!localStream) {
      logger.warn("Media is not ready.. Initiating now");
      await initMedia();
    }

    createPeer();
    logger.log("peer created");
  });

  socket.on("signal", async ({ data }) => {
    if (!PC) {
      // isInitiator = false;
      // partnerId = from;
      createPeer();
    }

    try {
      if (data.sdp) {
        await PC.setRemoteDescription(new RTCSessionDescription(data.sdp));

        if (data.sdp.type === "offer") {
          const answer = await PC.createAnswer();
          await PC.setLocalDescription(answer);

          logger.log("signal test #1 success");
          socket.emit("signal", {
            data: { sdp: answer },
          });
        }
      }

      if (data.candidate) {
        await PC.addIceCandidate(new RTCIceCandidate(data.candidate));
      }
    } catch (err) {
      console.error("Signal error:", err);
    }
  });

  // Add local tracks
  //  localStream.getTracks().forEach(track => {
  //     pc.addTrack(track, localStream);
  //   });

  // Remote stream
  // pc.ontrack = (event) => {
  //     remoteVideo.srcObject = event.streams[0];
  //   };

  // cleanup function
  // function cleanupPeer() {
  //   if (pc) {
  //     pc.close();
  //     pc = null;
  //   }

  //   remoteVideo.srcObject = null;
  //   partnerId = null;
  //   isInitiator = false;
  // }
</script>
